{%- comment -%}
  Snippet: BaziCash Floating Button
  Descrição: Botão flutuante do sistema BaziCash
  Uso: {% render 'bazicash-floating-button' %}
{%- endcomment -%}

<a href="/pages/bazicash" class="floating-button" id="bazicashFloatingButton">
  <div class="floating-button-icon">
    {%- comment -%} Substitua 'bazicash-icon.png' pelo nome do seu arquivo PNG {%- endcomment -%}
    <img src="{{ 'bazicash-icon.png' | asset_url }}" alt="BaziCash" width="32" height="32">
  </div>
  <div class="floating-button-text">BaziCash!</div>
</a>
